<div class="row">
  <div class="col-md-12">
    <div class="callout">
      <a data-toggle="modal" data-target="#newFace" class="new"><img src="<%= asset_path "add.png" %>"></img></a> Faces of Dave
    </div>
  </div>
</div> <!-- /ROW --> 
<div class="row">
  <div class="col-md-12 gallery">
    <% @faces.each  do |face|%>
      <div class="image-wrap"><div class="calibrate" data-id="<%= face.id %>"></div><%= image_tag face.image.thumb %></div>
    <% end %>
  </div>
</div> <!-- /ROW --> 

<!-- Modal -->
<div class="modal fade" id="newFace" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <%= simple_form_for @newFace do |f| %>
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="myModalLabel">New Face</h4>
        </div>
        <div class="modal-body">
            <%= f.input :name, label: false, :placeholder => "Name"%>
            <%= f.input :description, label: false, :placeholder => "Description"%>
            <%= f.input :image, label: false, :placeholder => "Name"%>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <%= f.button :submit, class: 'btn btn-primary' %>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  <% end %>
</div><!-- /.modal -->

<!-- Modal -->
<div class="modal fade" id="calibrateFace" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Calibrate Face</h4>
      </div>
      <div class="modal-body">
        <div class="calibration-zone"></div>
        <form id="calibrate_face_form" method="patch">
          <input name="translate_x" type="hidden" />
          <input name="translate_y" type="hidden" />
          <input name="scale" type="hidden" />
          <input name="rotation" type="hidden" />
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" id="submit-calibration" class="btn btn-primary">Submit</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
